@use "../abstracts/index" as *;

.header {
    color: $neutral;
    background-color: $semi-dark-blue;

    .primaryNavigation {
        padding: 0 $pd-4;
        margin-inline: auto;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-auto-rows: minmax($size-700, 10vh);
        align-items: center;

        .account {
            display: flex;
            justify-content: flex-end;
            .userIcon {
                color: $grey-blue;
                height: $size-600;

                &:hover {
                    cursor: pointer;
                    color: $red;
                }
            }
        }
    }
}

@media (min-width: $screen-xsm) {
    .header {
        .primaryNavigation {
            padding: 0 $pd-5;
            grid-template-columns: 1fr 1.8fr 1fr;
        }
    }
}

@media (min-width: $screen-sm) {
    .header {
        .primaryNavigation {
            padding: 0 $pd-5;
            grid-template-columns: 1fr 1.2fr 1fr;
        }
    }
}

@media (min-width: $screen-md) {
    .header {
        .primaryNavigation {
            padding: 0 $pd-5;
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}

@media (min-width: $screen-lg) {
    .header {
        margin-left: $size-500;
        width: $size-900;
        border-radius: $size-400;
        height: 94vh;
        display: flex;
        margin-top: auto;
        margin-bottom: auto;
        .primaryNavigation {
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            margin-bottom: 20px;

            .account {
                .userIcon {
                    height: $size-600;
                }

                margin-top: auto;
            }
        }
    }
}
