@use "../abstracts/index" as *;

@mixin shrinkLabel {
    top: -2px;
    font-size: 12px;
    color: $grey-blue;
}

.group {
    position: relative;
    margin: 0;

    .formInput {
        background: none;
        background-color: $semi-dark-blue;
        color: white;
        font-size: 18px;
        padding: 10px 10px 10px 5px;
        display: block;
        width: 100%;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid $grey-blue;
        margin: 25px 0;

        &:focus {
            color: white;
            caret-color: $red;
            outline: none;
            border-bottom: 1px solid $neutral;
        }

        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        textarea:-webkit-autofill,
        textarea:-webkit-autofill:hover,
        textarea:-webkit-autofill:focus,
        select:-webkit-autofill,
        select:-webkit-autofill:hover,
        select:-webkit-autofill:focus {
            background-color: red;
        }
        &:focus ~ .form-input-label {
            @include shrinkLabel();
        }
    }

    input[type="password"] {
        letter-spacing: 0.3em;
    }

    .errorText {
        color: $red;
        position: absolute;
        top: -2px;
        font-size: 12px;
        right: 15px;
    }

    .formInputLabel {
        color: $grey;
        font-size: 16px;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        left: 5px;
        top: 10px;
        transition: 300ms ease all;

        &.shrink {
            @include shrinkLabel();
        }
    }
}
