@use "../abstracts/index" as *;

.header {
    color: $neutral;
    background-color: $semi-dark-blue;
    position: sticky;

    .primaryNavigation {
        margin-inline: auto;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-auto-rows: minmax($size-700, 10vh);
        align-items: center;
        padding-inline: $size-300;

        .account {
            display: flex;
            justify-content: flex-end;
            .userIcon {
                color: $grey-blue;
                height: $size-600;

                &:hover {
                    cursor: pointer;
                    color: $red;
                }
            }

            .userIcon.active {
                color: $green;
                height: $size-600;
            }
        }
    }
}

@media (min-width: $screen-xsm) {
    .header {
        .primaryNavigation {
            grid-template-columns: 1fr 1.8fr 1fr;
        }
    }
}

@media (min-width: $screen-sm) {
    .header {
        .primaryNavigation {
            grid-template-columns: 1fr 1.2fr 1fr;
        }
    }
}

@media (min-width: $screen-md) {
    .header {
        .primaryNavigation {
            grid-template-columns: 1fr 1fr 1fr;
            padding-inline: $size-500;
        }
    }
}

@media (min-width: $screen-xl) {
    .headerWrapper {
        display: flex;
        flex-grow: 1;
        position: relative;
        margin-inline: auto;

        .header {
            width: 100%;
            z-index: 999;
            min-width: $size-800;
            width: 70%;
            margin-inline: auto;
            border-radius: $size-400;
            height: 94vh;
            min-height: 450px;
            display: flex;
            position: sticky;
            top: 3vh;

            .primaryNavigation {
                display: flex;
                flex-direction: column;
                margin-top: 20px;
                margin-bottom: 20px;

                svg {
                    scale: 0.8;
                }

                .account {
                    .userIcon {
                        height: $size-600;
                    }

                    margin-top: auto;
                }
            }
        }
    }
}

@media (min-width: $screen-xl) {
    .headerWrapper {
        .header {
            .primaryNavigation {
                .logo {
                    scale: 1.2;
                }
                svg {
                    scale: 1;
                }
            }
        }
    }
}

@media (min-width: $screen-2xl) {
    .headerWrapper {
        .header {
            .primaryNavigation {
                margin-top: 40px;
                margin-bottom: 40px;
                svg {
                    scale: 1.5;
                }
            }
        }
    }
}
