@use "../abstracts/index" as *;

.wrapper {
    display: flex;
    flex-direction: column;
    margin: auto 0;
    align-items: center;

    justify-content: center;
    min-height: calc(100vh - 70px);
    min-height: -moz-available;
}

.logo {
    margin-bottom: 55px;
}

.loginContainer {
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    width: 60%;
    max-width: 380px;
    color: white;
    padding: 40px;
    background-color: $semi-dark-blue;
    border-radius: 20px;

    .textError {
        color: $red;
    }

    h1 {
        margin-bottom: 20px;
        font-size: $fs-heading-m;
    }
    h2 {
        margin-top: 15px;
        font-size: $size-400;
    }

    a {
        text-decoration: none;
        color: $red;

        &:hover {
            color: $light-red;
        }
    }
}
