@use "../abstracts/index" as *;

.menuOptions {
    display: flex;
    justify-content: space-between;
    a {
        .icon {
            path {
                fill: $grey-blue;
            }
        }
    }

    a:hover {
        cursor: pointer;
        .icon {
            path {
                fill: $red;
            }
        }
    }

    .icon.active {
        path {
            fill: $neutral;
            &:hover {
                fill: $red;
            }
        }
    }
}


@media (min-width: $screen-xl) {
    .menuOptions {
        margin-top: $size-600;
        flex-direction: column;
        gap: $size-500;
    }
}

@media (min-width: $screen-2xl) {
    .menuOptions {
        margin-top: $size-700;
        flex-direction: column;
        gap: $size-700;
    }
}
