@use "../abstracts/index" as *;

.heading {
    margin-left: $size-300;
}

.resultsContainer {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    gap: $size-300;
    justify-content: space-between;
    padding-inline: $size-300;
    padding-bottom: 12px;
}

@media (min-width: $screen-xsm) {
    .resultsContainer {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: $screen-sm) {
    .heading {
        margin-left: $size-400;
    }
    .resultsContainer {
        padding-inline: $size-400;
    }
}

@media (min-width: $screen-md) {
    .heading {
        margin-left: $size-500;
    }
    .resultsContainer {
        padding-inline: $size-500;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: $screen-lg) {
    .resultsContainer {
        gap: $size-400;
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: $screen-xl) {
    .heading {
        margin-left: 0;
    }
    .resultsContainer {
        grid-template-columns: repeat(4, 1fr);
        padding-inline: 0;
        gap: $size-500;
        padding-right: $size-500;
    }
}
