@use "../abstracts/index" as *;

.searchBox {
    display: flex;
    margin-inline: auto;
    background-color: none;
    width: 100%;
    padding-inline: $size-300;
    color: $semi-dark-blue;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 0;
    max-height: 48px;
    margin-top: 15px;

    .searchBtn {
        cursor: pointer;
        background-color: $dark-blue;
        border: none;
        margin-right: 5px;
        .icon {
            color: $neutral;
            height: $size-500;

            &:hover {
                color: $red;
            }
        }
    }
    input {
        color: $neutral;
        background-color: $dark-blue;
        border: none;
        letter-spacing: 1px;
        font-weight: $fw-regular;
        display: flex;
        flex-grow: 1;
        padding: 10px 0;

        &:focus {
            outline: none;
            caret-color: $red;
            padding-bottom: 10px;
            border-bottom: 1px solid $grey-blue;
        }
    }
}

@media (min-width: $screen-md) {
    .searchBox {
        padding-inline: $size-500;
        margin-top: $size-500;
        .searchBtn {
            margin-right: 12px;
            .icon {
                height: $size-500;
            }
        }
    }
}

@media (min-width: $screen-xl) {
    .searchBox {
        width: 90%;
        margin-right: 10%;
        font-size: 1.3rem;
        padding-inline: 0;
        .searchBtn {
            margin-right: 15px;
            .icon {
                height: $size-600;
            }
        }
    }
}
