@use "../abstracts/index" as *;

.thumbnail {
    position: relative;
    min-width: 0;

    .title {
        overflow: hidden;
        text-overflow: ellipsis;
        min-width: 0;
        white-space: nowrap;
        max-width: 95%;
    }

    .imageContainer {
        position: relative;
        background-color: $dark-blue;
        aspect-ratio: 6/4;
        border-radius: $size-300;
        .image {
            border-radius: $size-300;
            width: 100%;
            height: 100%;
            object-position: center;
            object-fit: cover;
        }
        &:hover {
            .image {
                opacity: 0.5;
            }
            button {
                opacity: 1;
            }
        }
    }

    .descriptionContainer {
        margin-top: 3px;
        .description {
            line-height: 1;
            width: 80%;
            color: #c3c4c7;
            font-weight: $fw-regular;
            font-size: $size-300;

            display: flex;
            align-items: center;
            gap: 3%;

            .mediaType {
                div {
                    display: flex;

                    align-items: center;
                    .icon {
                        transform: scale(0.5);
                    }
                }

                path {
                    fill: $grey;
                }
            }
        }
    }
}

.sliderThumbnail {
    margin-right: $size-300;
    position: relative;
    aspect-ratio: 6/3;
    min-width: 285px;
    min-height: 160px;

    .imageContainer {
        position: relative;
        background-color: $semi-dark-blue;
        border-radius: $size-300;
        height: 100%;
        width: 100%;

        .image {
            width: 100%;
            height: 100%;
            border-radius: $size-300;
            object-fit: cover;
        }
        &:hover {
            .image {
                opacity: 0.5;
            }
            button {
                opacity: 1;
            }
        }
    }

    .descriptionContainer {
        position: absolute;
        top: 70%;
        left: 10%;
        width: 90%;
        .title {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 90%;
            text-shadow: rgba(0, 0, 0, 0.4) 1px 0 1px;
        }
        .description {
            text-shadow: black 1px 0 5px;
            opacity: 0.85;
            max-width: 100%;
            min-width: 80%;
            color: white;
            font-weight: $fw-regular;
            font-size: $size-300;
            display: flex;
            align-items: center;
            gap: 3%;

            .mediaType {
                div {
                    min-width: 52px;
                    display: flex;

                    align-items: center;
                    .icon {
                        transform: scale(0.5);
                    }
                }

                path {
                    fill: white;
                }
            }
        }
    }
}

@media (min-width: $screen-sm) {
    .sliderThumbnail {
        min-width: 350px;
        min-height: 137px;
    }
}

@media (min-width: $screen-xl) {
    .sliderThumbnail {
        margin-right: $size-500;
        min-width: 380px;
        min-height: 186px;
    }
}

@media (min-width: $screen-2xl) {
    .thumbnail {
        .descriptionContainer {
            margin-top: 6px;
            .description {
                width: 80%;
                color: #c3c4c7;
                font-weight: $fw-regular;
                font-size: 0.95rem;
                display: flex;
                align-items: center;
                gap: 3%;

                .mediaType {
                    div {
                        display: flex;

                        align-items: center;
                        .icon {
                            margin-right: 2px;
                            transform: scale(0.7);
                        }
                    }

                    path {
                        fill: $grey;
                    }
                }
            }
        }
    }

    .sliderThumbnail {
        min-width: 540px;
        min-height: 270px;
        .descriptionContainer {
            .description {
                font-size: $size-400;

                .mediaType {
                    div {
                        display: flex;

                        align-items: center;
                        .icon {
                            transform: scale(0.6);
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: $screen-3xl) {
    .sliderThumbnail {
        min-width: 650px;
        min-height: 318px;
        .descriptionContainer {
            .description {
                font-size: $size-400;
                .mediaType {
                    div {
                        display: flex;

                        align-items: center;
                        .icon {
                            transform: scale(0.6);
                        }
                    }
                }
            }
        }
    }
    .thumbnail {
        .descriptionContainer {
            .description {
                font-size: $size-400;
                .mediaType {
                    div {
                        display: flex;

                        align-items: center;
                        .icon {
                            transform: scale(0.6);
                        }
                    }
                }
            }
        }
    }
}
