@use "./base/reset" as *;
@use "./abstracts/index" as *;

body {
  background-color: $dark-blue;
}

h1 {
  font-size: $fs-heading-xs;
  line-height: 1.5rem;
}

h2 {
  font-size: $fs-heading-xxs;
}

@media (min-width: $screen-md) {
  h1 {
    line-height: 2rem;
    font-size: $fs-heading-m;
    font-weight: $fw-regular;
  }
}

@media (min-width: $screen-xl) {
  .container {
    display: flex;
    min-height: 100vh;
  }
}

@media (min-width: $screen-2xl) {
  h1 {
    line-height: 2.4rem;
    font-size: $fs-heading-l;
    font-weight: $fw-regular;
    margin-bottom: 5px;
  }
  h2 {
    font-size: $fs-heading-s;
  }
}

@media (min-width: $screen-3xl) {
  h2 {
    font-size: $fs-heading-m;
  }
}
